@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    font-size: 10px;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--accent-color);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    background-color: var(--bg-color-light);

    &.dark {
        background-color: var(--bg-color-dark);
    }
}

.attribution {
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--deselected-text-color-light);

    &--dark {
        color: var(--deselected-text-color-dark);
    }
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
